.box__card {
    width: 80%;
    border: 1px solid gray;
    border-radius: 1%;
    margin: 2% auto;
    padding: 2%;
}
.card__content {
    display: flex;
    flex-direction: column;
}

.card__title {
    color:rgb(100, 100, 247);
    font-size: 20px;
}

.card__text {
    font-size: 20px;

}
.card__subTitle {
    display: flex;
    
}
.card__location{

}
.card__date{

}
.card__button {
  width: 20%;
  background-color:rgb(100, 100, 247);
  border: none;
  color: #fff;
  padding: 1%;
}
ul, li {
    list-style: none;
}